basePath: /api/entries
definitions:
  model.Entry:
    properties:
      author:
        type: string
      created_at:
        type: string
      id:
        type: string
      title:
        type: string
      updated_at:
        type: string
      wiki_id:
        type: string
    type: object
host: localhost:8002
info:
  contact: {}
  description: API documentation for the Entry Service.
  title: Entry Service API
  version: "1.0"
paths:
  /api/entries/:
    get:
      description: Retrieves the list of all entries from the database.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Entry'
            type: array
        "500":
          description: Internal server error
          schema:
            type: string
      summary: Get all entries
      tags:
      - Entries
  /api/entries/{id}:
    delete:
      description: Deletes an entry by its ID.
      parameters:
      - description: Entry ID
        in: query
        name: id
        required: true
        type: string
      responses:
        "204":
          description: No Content
          schema:
            type: string
        "400":
          description: Invalid ID
          schema:
            type: string
        "404":
          description: Entry not found
          schema:
            type: string
        "500":
          description: Internal server error
          schema:
            type: string
      summary: Delete an entry by ID
      tags:
      - Entries
    get:
      description: Retrieves an entry by its ID.
      parameters:
      - description: Entry ID
        in: query
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Entry'
        "400":
          description: Invalid ID
          schema:
            type: string
        "404":
          description: Entry not found
          schema:
            type: string
        "500":
          description: Internal server error
          schema:
            type: string
      summary: Get an entry by ID
      tags:
      - Entries
    put:
      consumes:
      - application/json
      description: Updates an entry by its ID. Expects a JSON object in the request
        body.
      parameters:
      - description: Entry ID
        in: query
        name: id
        required: true
        type: string
      - description: Updated entry information
        in: body
        name: entry
        required: true
        schema:
          $ref: '#/definitions/model.Entry'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Entry'
        "400":
          description: Invalid ID or request body
          schema:
            type: string
        "404":
          description: Entry not found
          schema:
            type: string
        "500":
          description: Internal server error
          schema:
            type: string
      summary: Update an entry by ID
      tags:
      - Entries
  /api/entries/health:
    get:
      description: Checks if the service is up
      produces:
      - text/plain
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Health Check
      tags:
      - Health
  /api/entries/search:
    get:
      description: Search for entries using various query parameters. You can search
        by title, exact_title, author, createdAt, or wikiID. All parameters are optional
        and can be combined.
      parameters:
      - description: Partial title to search for (case-insensitive)
        in: query
        name: title
        type: string
      - description: Exact title to search for
        in: query
        name: exact_title
        type: string
      - description: Author to search for
        in: query
        name: author
        type: string
      - description: Creation date (YYYY-MM-DD)
        in: query
        name: createdAt
        type: string
      - description: Wiki ID to search for
        in: query
        name: wikiID
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Entry'
            type: array
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Search entries
      tags:
      - Entries
  /api/entries/wiki/:
    delete:
      description: Deletes all entries associated with a specific Wiki ID.
      parameters:
      - description: Wiki ID
        in: query
        name: id
        required: true
        type: string
      responses:
        "204":
          description: No Content
          schema:
            type: string
        "400":
          description: WikiID is required
          schema:
            type: string
        "404":
          description: No entries found
          schema:
            type: string
        "500":
          description: Internal server error
          schema:
            type: string
      summary: Deletes all entries by the Wiki ID
      tags:
      - Entries
swagger: "2.0"
